<html>
<head>
	<title> medium </title>
	</head>
						<body>
							<!-- SECTION 2 -->
							<section id="section2" class="fullscreen background-fixed" style="background-image:url(images/home/bg2.jpg);">
							<div id="medium-widget" style = "background-color: rgba(0,0,0,1)"></div>
							<script src="https://medium-widget.pixelpoint.io/widget.js"></script>
							<script>MediumWidget.Init({renderTo: '#medium-widget', params: {"resource":"https://onezero.medium.com/","postsPerLine":2,"limit":4,"picture":"big","fields":["description","author","claps","publishAt"],"ratio":"landscape"}})</script>
							</section>
							<!-- end: SECTION 2 -->
							</body>
</html>
